nav {
  background: #000000e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 99;
}

.logo {
  font-weight: 600;
  font-size: 25px;
  color: tomato;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 8px 20px;
}
.fas {
  cursor: pointer;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.menu-list li a:hover,
.menu-list li a.active {
  background-color: #fff;
  border-radius: 2px;
  color: black;
  transition: all 0.5s ease-in-out;
}
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
  .menu-icon {
    display: block;
  }
  .menu-list {
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: rgb(247, 241, 241, 0.5);
  }

  .menu-list li {
    align-items: center;
    font-weight: 200;
    margin-top: 15px;
  }
  .menu-list li:last-child {
    margin-bottom: 15px;
  }
  .menu-list.close {
    right: -100%;
    transition: all 0.2s ease-in-out;
  }
}
